/node_modules
/package-lock.json
/testing.html
Submission/Assignment 1 Code.pdf
Submission/Assignment 1 Report.pdf
Submission/Demo-Img1.png
Submission/Demo-Img2.png
Submission/IA-Weather-App-Demo.mp4
